[submodule "discrete_diffusion/mdlm"]
	path = discrete_diffusion/mdlm
	url = https://github.com/zacharyhorvitz/mdlm.git
[submodule "text_to_image/HPSv2"]
	path = text_to_image/HPSv2
	url = git@github.com:reepoi/HPSv2.git
